__pycache__/check_for_updates.cpython-312.pyc
__pycache__/import_score.cpython-312.pyc
dist/Student Score Import v1.7.1.exe
dist/Student Score Import v2.2.3.exe

Student Score Import v1.3.9.spec
build/Student Score Import v1.3.9/Analysis-00.toc
build/Student Score Import v1.3.9/base_library.zip
build/Student Score Import v1.3.9/EXE-00.toc
build/Student Score Import v1.3.9/PKG-00.toc
build/Student Score Import v1.3.9/PYZ-00.pyz
build/Student Score Import v1.3.9/PYZ-00.toc
build/Student Score Import v1.3.9/Student Score Import v1.3.9.pkg
build/Student Score Import v1.3.9/warn-Student Score Import v1.3.9.txt
build/Student Score Import v1.3.9/xref-Student Score Import v1.3.9.html
build/Student Score Import v1.3.9/localpycs/pyimod01_archive.pyc
build/Student Score Import v1.3.9/localpycs/pyimod02_importers.pyc
build/Student Score Import v1.3.9/localpycs/pyimod03_ctypes.pyc
build/Student Score Import v1.3.9/localpycs/pyimod04_pywin32.pyc
build/Student Score Import v1.3.9/localpycs/struct.pyc
dist/Student Score Import v1.3.9.exe
build
dist
.github/copilot-instructions.md
